3sem/ikps/lab7/src/main/resources/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/soap"
           xmlns:tns="http://example.com/soap">

    <!-- Запрос студента по ID -->
    <xs:element name="GetStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Ответ со студентом -->
    <xs:element name="GetStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Тип "Студент" -->
    <xs:complexType name="student">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthdate" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Запрос всех студентов -->
    <xs:element name="GetAllStudentsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <!-- Ответ со списком студентов -->
    <xs:element name="GetAllStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="students" type="tns:student" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>